################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SwitchCalendar/v15
*.dll
*.dll
*.pdb
